footer.footer.box#footer
  .footer__container.box__container
    .footer__section.footer__section--about
      .footer__title О нас
      .footer__about-description Издательский дом «Сегмент» (ООО «Колорград»)– это крупнейший в стране частный издательско-полиграфический комплекс, специализирующийся на издании книг малыми тиражами.
      svg.footer__logo
        use(xlink:href="#icon-logo-colorful" href="#icon-logo-colorful")
    .footer__section
      .footer__title Меню
      .footer__line.--bordered Вопрос-ответ
      .footer__line.--bordered Доставка и оплата
      .footer__line Ответим в соц. сетях:
      .social-links
        svg.soc-link
          use(xlink:href="#icon-telegram" href="#icon-telegram") 
        svg.soc-link
          use(xlink:href="#icon-whatsapp" href="#icon-whatsapp") 
        svg.soc-link
          use(xlink:href="#icon-viber" href="#icon-viber") 
        svg.soc-link
          use(xlink:href="#icon-instagram" href="#icon-instagram") 
        svg.soc-link
          use(xlink:href="#icon-youtube" href="#icon-youtube") 

    .footer__section
      .footer__title Контакты 
      .footer__contact-line
        svg
          use(xlink:href="#icon-geopin" href="#icon-geopin")
        p Республика Беларусь, г. Минск, пер. Велосипедный, д. 5, оф. 904, 9 этаж (здание ОАО «Беллифт»)
      
      .footer__contact-line 
        svg
          use(xlink:href="#icon-phone" href="#icon-phone")
        p +375 17 361-91-40

      .footer__contact-line 
        svg
          use(xlink:href="#icon-smartphone" href="#icon-smartphone")
        p +375 29 625-21-03

      .footer__contact-line 
        svg
          use(xlink:href="#icon-fax" href="#icon-fax")
        p +375 17 352-21-35

      .footer__contact-line 
        svg
          use(xlink:href="#icon-mail" href="#icon-mail")
        p info@segment.by

    .footer__section
      .footer__title.--feedback-form Связаться с нами 
      form.feedback-form#feedback-form
        label.feedback-form__line(for="")
          input.feedback-form__input(type="text" placeholder="Ваше имя:")
        label.feedback-form__line(for="")
          input.feedback-form__input(type="text" placeholder="Ваше email:")
        textarea.feedback-form__input(rows="4" placeholder="Сообщение")
        label.feedback-form__line.--privacy-agreement
          input(type="checkbox" checked)
          p Даю согласие на обработку своих персональных данных
        button(type="submit").btn.footer__btn
          .btn__title Отправить