nav.nav.box#nav
  svg.nav__search
    use(xlink:href="#icon-search" href="#icon-search")
  .nav__container.box__container
    .nav__link-box.--about
      .nav__link О нас
      .nav__link-more
        a(href="about.html").nav__link-more-item О компании
        a(href="manufacture.html").nav__link-more-item  Печать книг
        a(href="license.html").nav__link-more-item  Лицензии
        a(href="achievments.html").nav__link-more-item  Достижения 
        a(href="feedbacks.html").nav__link-more-item  Отзывы 
        a(href="news.html").nav__link-more-item  Новости 
        a(href="inmedia.html").nav__link-more-item  СМИ о нас 
    a(href="team.html").nav__link-box
      .nav__link Наша команда
    a(href="publish.html").nav__link-box
      .nav__link Издать книгу
    a(href="portfolio.html").nav__link-box
      .nav__link Портфолио
    a(href="contacts.html").nav__link-box.link
      .nav__link Контакты


