section.quiz-form.box
    .quiz-form__container.box__container
        .quiz-form__title <span>Рассчитайте стоимость</span> своей книги
        .quiz-form__subtitle Ответив на 5 вопросов, <span>вы получите:</span>
        .quiz-form__benefits
            .quiz-form-benefit
                .quiz-form-benefit__section.--img
                    img(src="img/quiz/manager.png" alt="")
                .quiz-form-benefit__section
                    p Бесплатную консультацию от менеджера
            .quiz-form-benefit
                .quiz-form-benefit__section.--img
                    img(src="img/quiz/calc-book.png" alt="")
                .quiz-form-benefit__section
                    p Расчет стоимости книги и срок ее издания
            .quiz-form-benefit
                .quiz-form-benefit__section.--img
                    img(src="img/quiz/gift-img.png" alt="")
                .quiz-form-benefit__section
                    p Подарок на первое издание книги
        #quiz