include ./head.pug

body.about-us.common-body
    include ./components/header.pug
    include ./sections/director-word.pug
    include ./sections/our-pages.pug
    include ./components/footer.pug

    include ./foot.pug