doctype html
head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html' charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(rel="shortcut icon" type="image/png" href="/img/icon-logo.svg")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel="stylesheet" href="css/main.css")
body
    include ./components/header.pug

    include ./sections/intro--author
    include ./sections/author.pug
    include ./components/quiz-form

    include ./components/footer.pug
    script(src="js/QuizForm.js")
    include ./foot.pug