include ./head.pug

body.common-body
    include ./components/header.pug

    include ./sections/contacts.pug
    include ./components/quiz-form

    include ./components/footer.pug
    script(src="js/QuizForm.js")
    include ./foot.pug