include ./head.pug

body

  include ./components/header.pug
  include ./sections/intro.pug
  include ./sections/about.pug
  include ./sections/services.pug
  include ./sections/advantages.pug
  include ./components/quiz-form.pug
  include ./sections/clients.pug
  include ./components/footer.pug
  
  include ./foot.pug
  script(src="js/QuizForm.js" )