include ./head.pug 

body.common-body
    include ./components/header.pug

    include ./sections/licenses.pug
    include ./components/quiz-form.pug

    include ./components/footer.pug
    script(src="js/QuizForm.js")
    include ./foot.pug