include ./head.pug 

body.common-body
    include ./components/header.pug

    include ./sections/intro-manufacture.pug
    include ./sections/weekdays.pug

    include ./components/footer.pug
    include ./foot.pug