doctype html
html.h-100
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='Content-Type', content='text/html' charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        link(rel="shortcut icon" type="image/png" href="/img/icon-logo.svg")
        link(rel="stylesheet" href="css/main.css")

    body.common-body
        include ./components/header.pug

        include ./sections/team.pug

        include ./components/footer.pug
        include ./foot.pug