.cover-type {

  &__options {
    .flex(center, flex-start, row wrap);

    .mindesktop-sm({
      flex-wrap: wrap;
      justify-content: center;
    });
  }

  &__option-title
  {
    .font(24px, 32px);
    font-family: @font-roboto-bold;
    color: @color-ocean;
    margin-bottom: 25px;

    .mintablet({
      .font(28px, 36px);
      margin-bottom: 50px;
    });

    span
    {
      color: @color-black;
      font-family: @font-roboto-regular;
    }
  }

  &__macro-option 
  {
    margin-bottom: 20px;
  }

  &__micro-options
  {
    justify-content: center;
  }
  
  &__micro-option
  {
    padding-bottom: 0;
    position: relative;
    width: 40%;

    .mintablet({
      width: 20%;
      margin-left: 10px;
      margin-right: 10px;
      min-width: 115px;
    });

    img 
    {
      border-radius: 50%;
      width: 64px;
      height: 64px;
    }

    .quiz__card-footer {
      .font(14px, 20px);
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &::after {
      content: '';
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-10%);
      transform-origin: 0 0;
      height: 48px;
      width: 80px;
      background-repeat: no-repeat;
      display: none;

      .mintablet({
        display: block;
      });
    }

    &.--kleevoy {
      &::after {
        background-image: url('../img/arrow-covertype-1.png');
      }
    }
    &.--proshitiy {
      &::after {
        background-image: url('../img/arrow-covertype-2.png');
      }
    }

    &.--skoba {
      &::after {
        background-image: url('../img/arrow-covertype-2.png');
        transform: scale(-1, 1) translateX(-10%);
      }
    }

    &.--pruzhina {
      &::after {
        background-image: url('../img/arrow-covertype-1.png');
        transform: scale(-1, 1) translateX(-10%);
      }
    }

    &.--tsvetnoy {
      &::after {
        background-image: url('../img/arrow-covertype-hard-1.png');
      }
    }

    &.--leisure {
      &::after {
        background-image: url('../img/arrow-covertype-hard-2.png');
      }
    }

    &.--integralny {
      &::after {
        background-image: url('../img/arrow-covertype-hard-1.png');
        transform: scale(-1, 1) translateX(-10%);
      }
    }
  }
}