.paper-type {

  &__img-box
  {
    height: 115px;
  }

  &__img
  {
    width: 100%;
    height: 100%;
  }

  &__cards
  {
    margin-bottom: 25px;

    .mintablet({
      justify-content: flex-start;
    });
  }

  &__card
  {
    width: 43%;
    margin: 0 10px 20px;

    .mintablet({
      width: 25%;
    });
  }

  &__card-footer
  {
    border-top: none;
  }
}

.paper-density {
  margin-bottom: 20px;
  position: relative;

  &.--open {
  }

  &__title {
    margin-bottom: 5px;
    text-align: left;
  }

  select {
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(@color-black, 0.3);
    border: none;
    padding: 12px 25px 12px 10px;
    .font(16px, 1);
    width: 100%;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__chooser {
    width: 100%;
    position: relative;
  }

  &__current {
    border-radius: 5px;
    box-shadow: 0 0 32px 6px rgba(#444242, 0.15);
    border: none;
    padding: 12px 25px 12px 10px;
    .font(16px, 1);
    width: 100%;
    cursor: pointer;
    position: relative;

    &.--highlighted {
      border: 1px solid @color-red;
    }
  }

  .paper-density__arrow-indicator {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #e0f3f6;
    border-radius: 50%;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      z-index: 11;
      text-align: center;
      width: 6px;
      height: 6px;
      border-bottom: 2px solid @color-ocean;
      border-right: 2px solid @color-ocean;
      transition: 300ms all;
    }

    &.--active::after {
      transform: translate(-50%, -50%) rotate(-135deg);
    }
  }

  &__list {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: 300ms all;
    background-color: @color-white;
    font-family: @font-roboto-regular;

    &.--active {
      z-index: 1;
      opacity: 1;
      visibility: visible;
    }

    div {
      cursor: pointer;
      text-align: left;
      padding: 10px 20px;

      &:hover {
        background-color: rgba(@color-ocean, 0.1);
      }
    }
  }
}