* {
  box-sizing: border-box;
}

body, ul, li, p, figure, figcaption, fieldset,
legend, picture, h1, h2, h3, h4, h5, button,
input {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  overflow-x: hidden;
  min-height: 100%;

  &.h-100
  {
    height: 100%;
  }
}

body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: @font-default;
  -webkit-text-size-adjust: 100%;
}

.box {

  &__container {
    padding: 0 13px;
    width: 100%;
    max-width: @mobile;
    margin: 0 auto;

    .mintablet({
      padding: 0 20px;
      max-width: @desktop-small;
    });

    .mindesktop({
      max-width: @desktop;
      padding: 0 30px;
    })
  }
}

//#wpadminbar {
//  top: auto;
//  bottom: 0;
//}