.quiz-form-benefits
{
  .flex(space-between, stretch);
  margin-left: auto;
  margin-right: auto;
  max-width: 1150px;

  .mintablet({
    margin-bottom: 50px;
  });
}

.quiz-form-benefit {
  color: @color-black;
  position: relative;
  margin: 0 auto 25px;
  background: rgba(@color-ocean, 0.05);
  padding: 10px;
  box-shadow: 0 0 32px 6px rgba(#444242, 0.15);
  border-radius: 10px;
  width: 100%;

  .minmablet({
    width: 30%;
  });

  &.--order {
    margin-bottom: 60px;

    .mintablet({
      margin-bottom: 25px;
    })
  }

  &__container-wrapper {
    border: 5px solid @color-ocean;
    padding: 1px;
    background: inherit;
    height: 100%;
  }

  &__container {
    .flex(space-between, center, row nowrap);
    height: 100%;
    border: 1px solid @color-ocean;
    padding: 20px 20px 20px 0;
  }

  &__section
  {
    padding-left: 20px;

    &.--img
    {
      padding-left: 0;
      width: 30%;
      position: relative;
      flex-grow: 0;
      flex-shrink: 0;

      img {
        position: absolute;
        top: calc(50% - 18px);
        left: -11px;
        transform: translateY(-50%);
        width: 160px;

        &.--tetka {

        }

        &.--kniga {
          top: calc(50% + 15px);
          left: -15px;
        }

        &.--podarok {
          top: 50%;
        }
      }
    }

    p {
      .font(14px, 18px);

      .minmablet({
        .font(16px, 20px)
      })
    }
  }

  &__signature {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    .font(14px, 1);
  }

  img
  {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
