.about {
    margin-bottom: 25px;

    &__container {
        
        .mintablet({
            .flex(space-between, center, row nowrap);
        })
    }

    &__section {
        .mintablet({
            width: 50%;
        })
    }

    &__info {
        .mintablet({
            padding-right: 30px;
        })
    }

    &__description {
        margin-bottom: 25px;
        color: @color-grey;
        font-family: @font-roboto-light;

        .mindesktop-sm({
            .font(16px, 25px);
            max-width: 80%;
        });

        .mindesktop({
            .font(16px, 30px);
        });
    }

    .service
    {
        width: 100%;

        &__body {
            background-size: 120%;

            &::after
            {
                opacity: 1;
                background-color: rgba(@color-black, 0.3);
            }
        }


        &__btn-learn-more
        {
            opacity: 1;
            visibility: visible;
        }
    }
}