section.about.box#about
    .box__container.about__container
        .about__info.about__section
            .title-box
                .title-box__back О нас
                h2.title-box__title Издательский дом «Сегмент»

            p.about__description Издательский дом «Сегмент»  (ООО «Колорград») – это крупнейший в стране частный издательско-полиграфический комплекс, специализирующийся на издании книг малыми тиражами. Мы оказываем услуги полного цикла – от работы с текстом до изготовления книг.
        .about__video.about__section
           iframe(src="https://www.youtube.com/embed/tgg-CH7Dk-M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)