section.achievments.box
    .achievments__container.box__container
        .title-box
            .title-box__back Наши достижения
            .title-box__title Наши достижения
        .common-description Наши достижения общие. Мы и авторы обоюдно питаем друг друга творческими идеями, мыслями и совершенно справедливо завоевываем очередные вершины! А показывать высокий класс мастерства — это наша обязанность. Счастливый автор, заказчик - вот наше главное достижение, к которому мы стремимся при работе над каждой книгой. Без исключений. Награды, получаемые нашим издательством - это оценка нашей с вами совместной работы! 

        .achievments__list

            .achievment
                .achievment__title Награжденны дипломом Министра информации Республики Беларусь «За вклад в сохранение белорусского книжного наследия»
                .achievment__img-box
                    img(src="img/achievments/pic1.jpg" alt="" title="")

            .achievment
                .achievment__title Награжденны дипломом Министра информации Республики Беларусь «За вклад в сохранение белорусского книжного наследия»
                .achievment__img-box
                    img(src="img/achievments/pic2.jpg" alt="" title="")