section.article.box
    .article__container.box__container
        .title-box
            .title-box__title Президентский Коран
            .title-box__back Президентский Коран
    .article__container.--main.box__container
        .article__section.--content.common-content
            .article__title Коран в роскошном переплете:
            p Коран в роскошном переплете, изготовленный в ИД Сегмент, подарил Александр Лукашенко своему египетскому коллеге
            .article__img-box
                img(src="img/blog/pic1.jpg" alt="" title="")
            p Впервые в Национальной библиотеке на выставке «Книги Беларуси. Год 2019» представлена вся палитра отечественного книгоиздания. С лучшими изданиями страны можно ознакомиться на выставке. В их число вошли и издания Издательского дома «Сегмент» (ООО «Колорград»).
            .article__img-box
                img(src="img/blog/pic2.jpg" alt="" title="").--with-description
                .article__img-description Диплом Министра информации Республики Беларусь «За вклад в сохранение белорусского книжного наследия и развитие национального книгопечатания, участие в популяризации книги в 2019 году» вручен коллективу Издательского дома «Сегмент». <br> Фото: ИД Сегмент
            p Книги Издательский дом «Сегмент» экспонированы в отдельной витрине, а наш труд в издательской и полиграфической сфере отмечен дипломом министра информации Республики Беларусь.
            .article__img-box
                img(src="img/blog/pic3.jpg" alt="" title="").--with-description
                .article__img-description Книги о предприятиях. Экспонирована малая часть книг, выпущенных в свет издательством в 2019 году. <br> Фото: ИД Сегмент
            p Юбилейная книга, книга о компании, корпоративная книга, имиджевая книга, книга к юбилею города, книга о предприятии, книга об истории завода, книга об организации, сборник стихов, учебник, научная книга, монография, все это, как и другие виды изданий можно увидеть и полистать на нашем стенде.
            .article__img-box
                img(src="img/blog/pic4.jpg" alt="" title="").--with-description
                .article__img-description Почетное центральное место на выставке заняло факсимильное издание Берестейской Библии,переплёт и художественное оформление выполнены ИД Сегмент <br> Источник фото: сайт Национальной библиотеки Беларуси 
            p  Игорь Бузовский, заместитель министра информации Беларуси отметил: 
            p.boldy «Это люди, которые делают будущее нашей страны, это думающие люди. Поэтому, какая книга будет издаваться, кто ее будет писать, какими тиражами, в каком направлении, – внимание и государства. Мы делаем сегодня ставку и на частные издательства, на индивидуальных предпринимателей, на учебные заведения, которые имеют издательские площадки».
            .article__img-box
                img(src="img/blog/pic5.jpg" alt="" title="").--with-description
                .article__img-description Видеорепортаж с открытия выставки. <br/> Источник: Телеканал ОНТ
            p Радует, что особое внимание на выставке получило уникальное факсимильное издание книги «Берестейская Библия». Эта книга в кожаном переплете, весом 15 килограмм не имеет аналогов в отечественном книгоиздании.
            .article__img-box
                img(src="img/blog/pic6.jpg" alt="" title="").--with-description
                .article__img-description Книги в кожаном переплете ручной работы научились делать мастера Издательского дома Сегмент. <br> Фото: ИД Сегмент
            p Теперь каждый клиент нашего издательства может заказать подарочные книги в кожаном переплете в любом количестве для основного тиража таких книг. Кожаный переплет книг подчеркнет особый статус любого издания и позиционируется как статусный подарок для высокопоставленных персон. 
        .article__section.--new-articles