section.author.box#author
    .author__container.box__container
        .title-box
            .title-box__title Авторам и ученым
            .title-box__back Авторам и ученым
        h1.author__title Издаем книги тиражом от 1 экземпляра
        p.author__description В издательском доме «Сегмент» рады каждому автору! Чтобы выпустить собственную книгу, достаточно предоставить рукопись, с которой поработают профессионалы. Редакторы и корректоры внимательно вычитают тексты, дизайнеры и верстальщики создадут макет и обложку будущей книги. На выходе автор получит качественное издание в художественном оформлении. Каждому изданию мы присваиваем международный книжный номер ISBN. Этот номер не только является гарантией ваших авторских прав на книгу, но и открывает произведению доступ в ведущие библиотеки и книжные магазины всего мира.

        .author__cards

            .author-card
                .author-card__section.--img
                    img(src="img/advantage-img1.jpg" alt="")
                .author-card__section.--text
                    .author-card__title Сегмент — лидер белорусского книгоиздания
                    .author-card__description
                        p Для книги может быть выполнен любой вид переплета из большого ассортимента материалов.
                        p В большой количестве технических спецификаций легко запутаться. Мы поможем автору определиться с выбором типа переплета, исходя из его потребностей и количества публикуемого материала.
                        p Тираж книг может быть напечатан в разных вариантах исполнения. Например, часть тиража в твердом, а часть — в мягком переплете. Наличие собственной типографии позволяет гибко подходить к пожеланиям наших авторов.

            .author-card
                .author-card__section.--img
                    img(src="img/advantage-img2.jpg" alt="")
                .author-card__section.--text
                    .author-card__title Занимаемся продвижением и реализацией
                    .author-card__description
                        p Например, переплет этих книг автор пожелал переплести в специальный переплетный материал двух видов. Крышка лаконично, но, тем не менее, изящно декорирована золотым рельефным тиснением несколькими видами клише.
                        p Тиснение — это традиционный метод оформления экстерьера книги. Позволяет акцентировать детали художественной концепции обложки или быть самодостаточным методом декорирования.

            .author-card
                .author-card__section.--img
                    img(src="img/advantage-img3.jpg" alt="")
                .author-card__section.--text
                    .author-card__title Сегмент — лидер белорусского книгоиздания
                    .author-card__description
                        p Что делать, если вы — библиофил? Или вам необходимо подарить книгу важному и значимому человеку? Как сделать так, чтобы у владельца не поднялась рука выбросить книгу в макулатуру. Напротив — она всегда будет стоять на самом видном месте.
                        p Ответ — переплести книгу в традиционный кожаный переплет.
                        p Это будет индивидуальный нумерованный тираж или всего одна книга, изданная отдельно от общего тиража в современном переплете

        .author-swiper-container
            .swiper-wrapper.author-swiper-wrapper
                .swiper-slide.author-slide(style="background-image:url(img/advantage-img1.jpg)")
                .swiper-slide.author-slide(style="background-image:url(img/advantage-img2.jpg)")
                .swiper-slide.author-slide(style="background-image:url(img/advantage-img3.jpg)")
            .swiper-pagination