section.clients.box#clients
    .clients__container.box__container
        .title-box
            .title-box__title С нами работают
            .title-box__back Клиенты
        .clients__slider-container.swiper-client-container.common-slider
            .swiper-client-button-next.clients__slider-controller.common-slider__controller
            .swiper-client-button-prev.clients__slider-controller.common-slider__controller
            .clients__slider-wrapper.swiper-wrapper
                .client-slide.swiper-slide
                    img(src="img/clients/client1.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client2.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client3.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client4.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client5.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client6.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client7.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client8.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client9.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client10.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client11.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client12.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client13.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client14.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client15.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client16.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client17.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client18.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client19.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client20.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client21.png" alt="client1" title="client2")
                .client-slide.swiper-slide
                    img(src="img/clients/client22.png" alt="client1" title="client2")
            .swiper-client-pagination