section.contacts.box
    .contacts__container.box__container
        .title-box
            .title-box__title Контакты
            .title-box__back Контакты
        .contacts__description Книга и брошюра созданы на основе материалов, собранных Клецким районным исполнительным комитетом. В изданиях отражена 950-летняя история и современное состояние города и района.Книга и брошюра созданы на основе материалов, собранных
        .contacts__content
            .contacts__text-info.contacts__section
                .contacts-section
                    .contacts-section__title Звоните нам:
                    .contacts-section__container
                        a(href="+375173619140").contacts-section__item
                            svg
                                use(xlink:href="#icon-phone" href="#icon-phone")
                            p +375 17 361-91-40
                        a(href="tel:+375296252103").contacts-section__item
                            svg
                                use(xlink:href="#icon-smartphone" href="#icon-smartphone")
                            p +375 29 625-21-03
                        a(href="tel:+375173522135").contacts-section__item
                            svg
                                use(xlink:href="#icon-fax" href="#icon-fax")
                            p +375 17 352-21-35

                .contacts-section
                    .contacts-section__title Пишите нам:
                    .conacts-section__container
                        a(href="mailto:info@segment.by").contacts-section__item
                            svg
                                use(xlink:href="#icon-mail" href="#icon-mail")
                            p info@segment.by

                .contacts-section
                    .contacts-section__title Мы находимся по адресу:
                    .conacts-section__container
                        .contacts-section__item
                            svg
                                use(xlink:href="#icon-geopin" href="#icon-geopin")
                            p Республика Беларусь, г. Минск, пер. Велосипедный, д. 5, оф. 904, 9 этаж (здание ОАО «Беллифт»)

                .contacts-section
                    .contacts-section__title Мы работаем:
                    .contacts-section__container
                        .contacts-section__item
                            p Понедельник - пятница с 9.00 до 18.00.

                .contacts-section
                    .contacts-section__title Мы в соц.сетях:
                    .contacts-section__container
                        .contacts-section__item

            .contacts__map.contacts__section
                div(style='position:relative;overflow:hidden;')
                    a(href='https://yandex.ru/maps/157/minsk/?utm_medium=mapframe&utm_source=maps' style='color:#eee;font-size:12px;position:absolute;top:0px;') &Mcy;&icy;&ncy;&scy;&kcy;
                    a(href='https://yandex.ru/maps/profile?from=api-maps&ll=27.586481%2C53.882269&oid=1373599128&ol=biz&origin=jsapi_2_1_74&sll=27.566619%2C53.882966&text=%D0%A0%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0%20%D0%91%D0%B5%D0%BB%D0%B0%D1%80%D1%83%D1%81%D1%8C%2C%20%D0%B3.%20%D0%9C%D0%B8%D0%BD%D1%81%D0%BA%2C%20%D0%BF%D0%B5%D1%80.%20%D0%92%D0%B5%D0%BB%D0%BE%D1%81%D0%B8%D0%BF%D0%B5%D0%B4%D0%BD%D1%8B%D0%B9%2C%20%D0%B4.%205&utm_medium=mapframe&utm_source=maps&z=16' style='color:#eee;font-size:12px;position:absolute;top:14px;') &YAcy;&ncy;&dcy;&iecy;&kcy;&scy;.&Kcy;&acy;&rcy;&tcy;&ycy;
                    iframe(src='https://yandex.ru/map-widget/v1/-/CCUIqRGMcB' frameborder='1' allowfullscreen='true' style='position:relative;')
