section.director-word.box
    .box__container.title-box
        .title-box__back О нас
        .title-box__title О компании
    .director-word__container.box__container
        .director-word__section.common-content
            img(src="img/about-us/directorimg.jpg" alt="Директор и сооснователь" title="Директор и сооснователь").director-word__img
            h3.director-word__suptitle Сооснователь и директор Издательского дома «Сегмент»
            h2.director-word__title Дмитрий Сакович
            p История компании началась в 2012 году в маленькой комнате с настольным офисным принтером.
            p Это был стартап двух человек, не имевших прежде опыта ни в бизнесе, ни в отрасли, но увлеченных идеей служения книге. Очень скоро у нас появились первые сотрудники и единомышленники.
            p Кирпичик за кирпичиком мы создавали такую компанию, в которой хотели бы сами работать, издавать и создавать книги. 
            p Почему мы выбрали именно это направление и не стали, например, торговать запчастями?
            p.boldy Все дело в том, что я сам автор книг и работал преподавателем. Я пытался издать свою книгу за свои же деньги и думал, что если я сам вкладываю деньги в свой труд, в издателе я получу отзывчивого партнера, советника и наставника.
            img(src="img/about-us/director-signature.png" alt="подпись директора" title="подпись директора").director-word__signature
            p Но это было иллюзией и крушением надежд. Во всех издательствах я не получил не только помощи, но мне откровенно хамили за мой же счет. Я не понимал этого тогда и не хочу мириться с этим сегодня. Я идеалист с обостренным чувством справедливости. Сегодня я уже автор пяти книг, которые издал и напечатал сам уже в своем издательстве и сейчас мы занимаемся написанием книги уже о своей компании.
            p.boldy Я на своем опыте знаю проблемы авторов и руководителей организаций, которые хотят издать, продвинуть и реализовать свою книгу. Эти трудности я вижу с разных точек — как автор, как издатель и как руководитель предприятия.
            p Но теперь я не один. Я уже маленький сегмент в структуре сильной команды специалистов, которая стоит на страже ваших интересов.
            
        .director-word__aftertext.director-word__text.common-content
            .title-box
                .title-box__title Послесловие
            p Также, как мы не любим некомпетентность, мы не любим пустословие. Сегодня любой дилетант на сайте может написать все, что угодно, любые похвалы себе и при этом ему за это ничего не будет. «Мы самые большие, мы самые лучшие, мы имеем производство … etc».
            p.boldy На страницах этого раздела мы хотим, чтобы вы ознакомились с реальными сведениями о нас:
            p 1. Посмотрели на наше производство — оно выросло из офисного принтера, двух рук и бессонных ночей. Теперь это книжная типография, переплетное ателье, мастерская по художественной обработке металла. Мы не только можем сами напечатать и переплести любую книгу, но и создать индивидуальный роскошный кожаный переплет книги, декорировав его позолоченной фурнитурой.
            p 2. Убедились в том, что мы не случайное явление — имеем максимальный пакет лицензий на право осуществления издательской и полиграфической деятельности. Это результат многолетней системной теоретической и практической подготовки;
            p 3. Посмотрели чего мы достигли и какую оценку этому дает государство;
            p 4. Увидели и услышали, что о нас говорите и пишете вы, наши счастливые заказчики. Спасибо вам, мы всем вам обоюдно благодарны за возможность прикоснуться к вашим книгам;
            p 5. Ознакомились с нашими новостями. У нас их много, постараемся писать интересно и регулярно;
            p 6. Узнали, что о нас пишут и снимают журналисты. Средства массовой информации регулярно обращают на нас свое внимание и показывают наиболее яркие грани нашего мастерства.