section.feedbacks.box
    .feedbacks__container.box__container
        .title-box
            .title-box__title Отзывы
            .title-box__back Отзывы
        .common-description Здесь можно посмотреть и почитать нефейковые отзывы о нас от реальных людей и организаций. Любой проект из отзыва мы готовы показать и подробно рассказать о нем. Если вы с нами не работали, находитесь на этапе выбора издательства или типографии, отзывы наших клиентов помогут вам выяснить нашу репутацию на рынке и ознакомиться с завершенными проектами. Рекомендуем сделать так, как всегда делаем мы, когда начинаем работать с новыми подрядчиками — свяжитесь с нашими заказчиками (многие из них - постоянные) и уточните о нашей репутации.
        .feedbacks__cards
            .feedback-card
                .feedback-card__img-box
                    img(src="img/feedbacks/cardimg1.jpg" alt="" title="")
                    .feedback-card__waffer
                        .feedback-card__waffer-title Юбилейное издание к 75-летию предприятия. 
                        a(href="feedback.html").feedback-card__waffer-btn.btn
                            .btn__title Читать отзыв
                .feedback-card__title УП «Минскпроект»
                .feedback-card__subtitle «Стабильность, традиции, качество»
            .feedback-card
                .feedback-card__img-box
                    img(src="img/feedbacks/cardimg1.jpg" alt="" title="")
                    .feedback-card__waffer
                        .feedback-card__waffer-title Юбилейное издание к 75-летию предприятия. 
                        a(href="feedback.html").feedback-card__waffer-btn.btn
                            .btn__title Читать отзыв
                .feedback-card__title УП «Минскпроект»
                .feedback-card__subtitle «Стабильность, традиции, качество»
            .feedback-card
                .feedback-card__img-box
                    img(src="img/feedbacks/cardimg1.jpg" alt="" title="")
                    .feedback-card__waffer
                        .feedback-card__waffer-title Юбилейное издание к 75-летию предприятия. 
                        a(href="feedback.html").feedback-card__waffer-btn.btn
                            .btn__title Читать отзыв
                .feedback-card__title УП «Минскпроект»
                .feedback-card__subtitle «Стабильность, традиции, качество»
            .feedback-card
                .feedback-card__img-box
                    img(src="img/feedbacks/cardimg1.jpg" alt="" title="")
                    .feedback-card__waffer
                        .feedback-card__waffer-title Юбилейное издание к 75-летию предприятия. 
                        a(href="feedback.html").feedback-card__waffer-btn.btn
                            .btn__title Читать отзыв
                .feedback-card__title УП «Минскпроект»
                .feedback-card__subtitle «Стабильность, традиции, качество»
