section.feedback-page.box
    .feedback-page__container.box__container
        .title-box
            .title-box__title Рекомендация от ОАО "Минский домостроительный комбинат
            .title-box__back Рекомендация от ОАО <br>"Минский домостроительный комбинат
        .feedback-page__title Юбилейное издание книги к 50-ти летию комбината.
        .feedback-page__description С удовольствием рекомендуем Издательский дом «Сегмент» и его слаженную команду как прекрасно подготовленных профессионалов своего дела, внимательных к деталям и нацеленных на отличный результат.
        .feedback
            img(src="img/feedbacks/cardimg1.jpg" title="" alt="").feedback__img.feedback__section
            .feedback__content.feedback__section.common-content
                p Открытое акционерное общество «Минский домостроительный комбинат» выражает свою благодарность коллективу Издательского дома Сегмент за высокое качество исполнения работ, с соблюдением сроков, за высокий профессионализм сотрудников и их коммуникабельность в процессе работы над книгой, посвященной 50-летию общества.
                p.boldy На протяжении всего периода совместной работы, Издательский дом «Сегмент» зарекомендовал себя как ответственный и добросовестный партнер, умеющий гибко менять внутренние процессы и оперативно реагировать на изменение возникающих ситуаций.
                p Особенно хочется поблагодарить проект-менеджера Зенькевич Александру Юрьевну, за индивидуальный подход, внимательность и отменный профессионализм, сумевшую в краткое время досконально вникнуть в детали нашего проекта.
                .feedback__btn-learn-more.btn
                    .btn__title Посмотреть книгу в портфолио