section.inmedia.box
    .box__container.inmedia__container
        .title-box
            .title-box__title СМИ О НАС
            .title-box__back СМИ О НАС
        .inmedia__description Журналисты любят интересные сюжеты. А их у нас много. Поэтому периодически нам приходится работать под прицелом видеокамер. Наши книги также очень часто становятся центральными объектами новостных сюжетов. Процесс создания книги - очень сложный организационный и производственный процесс. Особо интересные моменты нашей насыщенной жизни освещают средства массовой информации.
        .inmedia__list
            .inmedia-item
                .inmedia-item__section.--content
                    .inmedia-item__title «Сегмент» вошел в число победителей национального конкурса «Искусство книги»
                    .inmedia-item__description 7 февраля, Минск /Корр. БЕЛТА/. Торжественная церемония награждения победителей национального конкурса «Искусство книг» состоялось на полях XXVII Минской международной книжной выставки-ярмарки, передает корреспондент БЕЛТА. В число победителей вошел Издательский дом «Сегмент».
                    .inmedia-item__btn-learn-more.btn
                        .btn__title Узнать больше
                .inmedia-item__section.--img
                    img(src="img/inmedia/pic1.jpg")
            .inmedia-item
                .inmedia-item__section.--content
                    .inmedia-item__title Лукашенко подарил главе Египта белорусский Коран. Он выпущен в издательском доме «Сегмент»
                    .inmedia-item__description Президент Беларуси Александр Лукашенко подарил египетскому коллеге Абделю Фаттаху аль-Сиси Коран, сообщает телеграм-канал «Пул Первого». Подаренный экземпляр издан в Беларуси на арабском языке с позволения духовного управления мусульман в нашей стране. Выпущен в издательском доме «Сегмент».
                    .inmedia-item__btn-learn-more.btn
                        .btn__title Узнать больше
                .inmedia-item__section.--img
                    img(src="img/inmedia/pic2.jpg")
            .inmedia-item
                .inmedia-item__section.--content
                    .inmedia-item__title Как три человека создали крупнейшее в стране частное книжное издательство со штатом в полсотни человек
                    .inmedia-item__description Руководитель ИД «Сегмент» Дмитрий Сакович рассказал «Про бизнес», как за несколько сложных лет, тщательно планируя действия и анализируя результаты, удалось поднять свой бизнес и превратить маленькую типографию из трех человек в издательский дом со штатом почти в полсотни.
                    .inmedia-item__btn-learn-more.btn
                        .btn__title Узнать больше
                .inmedia-item__section.--img
                    img(src="img/inmedia/pic3.jpg")
            .inmedia-item
                .inmedia-item__section.--content
                    .inmedia-item__title «Комсомолка» узнала что за Коран президент Беларуси подарил президенту Египта.
                    .inmedia-item__description Как известно, Александр Лукашенко полетел в Египет не с пустыми руками — он вручил своему египетскому коллеге ценный подарок — Коран. Как нам удалось выяснить, это не тиражное издание.
                    .inmedia-item__btn-learn-more.btn
                        .btn__title Узнать больше
                .inmedia-item__section.--img
                    img(src="img/inmedia/pic4.jpg")