section.intro-manufacture.box
    .into-manufacture.box__container
        .title-box
            .title-box__back Наше производство
            .title-box__title Наше производство
        .intro-manufacture__content.common-content
            .common-iframe.intro-manufacture__video
                iframe(src='https://www.youtube.com/embed/XnWZkcN6SIc' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            p Специализированная книжная типография полного цикла оснащена комплексом печатно-переплетного оборудования, позволяющим изготавливать не только книжно-журнальную, но и другие виды полиграфической продукции: визитки, буклеты, брошюры, блокноты, календари и многое другое.
            p Типография работает также со сложными полиграфическими заказами, например, с авторскими календарями.
            p Наши клиенты – это компании с высокими требованиями к качеству и срокам изготовления продукции.
            p У истоков компании стоят гуманитарии и книжники, изначально далекие от производств любого вида.
            p Создавая типографию, мы, в первую очередь, думали о том, ЧТО мы хотим увидеть, а потом уже задумывались КАК мы это сделаем.
            p Иногда, в минуты отчаяния, казалось, задача невыполнима. Надо все бросить. Так жить нельзя. Но каждое очередное столкновение с недобросовестными подрядчиками возвращало нас к мысли — производству быть!
            p Страсть к совершенству не остановила нас на типографии, а довела до создания уникального в стране переплетного ателье, а на его базе — мастерской по художественной обработке металлов.
            p Теперь ваши книги изготавливаются золотыми мастерами, работающими над выдающимися книжными памятниками современности. Будьте уверены, что ваши детища — в надежных руках!
            p И всегда добро пожаловать на наше производство. Возможно вам посчастливится поприсутствовать при создании книжного шедевра, который переживет всех нас!