section.intro.box#intro
  .intro__container.box__container
    a(href="#about" data-go-to="about").intro__arrow-down.link
    .intro__slider-container.swiper-intro-container.common-slider
      .swiper-intro-button-next.intro__slider-controller.common-slider__controller
      .swiper-intro-button-prev.intro__slider-controller.common-slider__controller
      .swiper-wrapper.intro__swipper-wrapper

        .intro__slide.swiper-slide
          img(src="img/worker.png" alt="Издаем книги от 1 экземпляра" title="Издаем книги от 1 экземпляра").intro__img.--director-img
          .intro__text-info
            .intro__back.--from-one-example Издаем книги от <br> 1 экземпляра
            h2.intro__title Издаем книги от 1 экземпляра
            p.intro__description Наши заказчики — это профессиональные и начинающие авторы, преподаватели, ученые, компании, государственные учреждения и предприятия.
            .intro__btn.btn
              .btn__title Задать вопрос

        .intro__slide.swiper-slide
          img(src="img/intro-img5.png").intro__img
          .intro__text-info
            .intro__back.--about-manufactures Создаем книги о <br> предприятиях «под ключ»
            h2.intro__title Создаем книги о предприятиях «под ключ»
            p.intro__description Занимается выпуском юбилейных, корпоративных и имиджевых книг о предприятиях.
            .btn 
              .btn__title Задать вопрос

        .intro__slide.swiper-slide
          img(src="img/intro-img2.png").intro__img
          .intro__text-info
            .intro__back.--special Особый переплет для <br> особых персон
            h2.intro__title Особый переплет для особых персон
            p.intro__description Продолжаем многовековую традицию создания роскошных экземпляров в ограниченных количествах.
            .btn 
              .btn__title Задать вопрос


        .intro__slide.swiper-slide
          img(src="img/intro-img3.png").intro__img
          .intro__text-info
            .intro__back.--areas-n-cities Создаем книги о городах <br> и районах
            h2.intro__title Создаем книги о городах и районах
            p.intro__description Книга о городе, поселке или районе станет достойным подарком для гостей и местных жителей, поможет сохранить историю для будущих поколений.
            .btn 
              .btn__title Задать вопрос


        .intro__slide.swiper-slide
          img(src="img/intro-img4.png").intro__img
          .intro__text-info
            .intro__back.--rebuilding Воссоздаем книжные <br> памятники
            h2.intro__title Воссоздаем книжные памятники
            p.intro__description Выполняем весь комплекс работ по созданию факсимиле – от работы с оригиналом, подготовки макета до изготовления книги.
            .btn 
              .btn__title Задать вопрос


        .intro__slide.swiper-slide
          img(src="img/intro-img1.png").intro__img
          .intro__text-info
            .intro__back.--typography Типография <br> требовательных клиентов
            h2.intro__title Типография требовательных клиентов
            p.intro__description Наши клиенты – это частные лица и компании с высокими требованиями к качеству и срокам изготовления продукции.
            .btn 
              .btn__title Задать вопрос