section.licenses.box
    .licenses__container.box__container
        .title-box
            .title-box__back Наши лицензии
            .title-box__title Наши лицензии
        .licenses-text
            p.licenses-text__description Имеем максимальный пакет разрешительных документов на право осуществления издательско-полиграфической деятельности. 

            .licenses-text__title Общество с ограниченной ответственностью «Колорград»
            p.licenses-text__description ( УНП 191680449 )
            
            .licenses-text__title Товарный знак SEGMENT
            p.licenses-text__description (свидетельство о регистрации № 52674 от 10.12.2014 г., выдано Национальным центром интеллектуальной собственности в соответствии с Законом Республики Беларусь. «О товарных знаках и знаках обслуживания»).

            ul.licenses-text__description
                li Виды издаваемых печатных изданий по целевому назначению:
                li 1. Научные;
                li 2. Учебные;
                li 3. Научно-популярные;
                li 4. Литературно-художественные;
                li 5. Справочные;
                li 6. Производственно-практические;
                li 7. Издания для досуга;
                li 8. Духовно-просветительные.

            .licenses-text__title Свидетельство о государственной регистрации издателя, изготовителя, распространителя печатных изделий № 1/471 
            p.licenses-text__description от 28.07.2015 г., выданное Министерством информации Республики Беларусь, о регистрации Общества с ограниченной ответственностью «Колорград» в Государственном реестре издателей, изготовителей и распространителей печатных изданий Республики Беларусь в качестве издателя печатных изданий за № 3/1079.
            
            .licenses-text__title Свидетельство о государственной регистрации издателя, изготовителя, распространителя печатных изделий № 1/471
            p.licenses-text__description от 01.09.2015 г., выданное Министерством информации Республики Беларусь, о регистрации Общества с ограниченной ответственностью «Колорград» в Государственном реестре издателей, изготовителей и распространителей печатных изданий Республики Беларусь в качестве распространителя печатных изданий за № 3/1079.
            
            .licenses-text__title Специальное разрешение (лицензия) на право осуществления полиграфической деятельности № 02330/474
            p.licenses-text__description (действительна до 08.09.2020 года, выдана Министерством информации Республики Беларусь)

        .licenses__list
            .licenses__slider-controllers
                .licenses__next-btn
                .licenses__prev-btn
                .licenses__close-btn
                    span
                    span
            .license-box
                svg.search-icon
                    use(xlink:href="#icon-search" href="#icon-search")
                .license
                    img(src="img/licenses/pic1.jpg" alt="" title="").license__img
            .license-box
                svg.search-icon
                    use(xlink:href="#icon-search" href="#icon-search")
                .license
                    img(src="img/licenses/pic2.jpg" alt="" title="").license__img
            .license-box
                svg.search-icon
                    use(xlink:href="#icon-search" href="#icon-search")
                .license
                    img(src="img/licenses/pic3.jpg" alt="" title="").license__img
            .license-box
                svg.search-icon
                    use(xlink:href="#icon-search" href="#icon-search")
                .license
                    img(src="img/licenses/pic4.jpg" alt="" title="").license__img
            .license-box
                svg.search-icon
                    use(xlink:href="#icon-search" href="#icon-search")
                .license
                    img(src="img/licenses/pic5.jpg" alt="" title="").license__img
            .license-box
                svg.search-icon
                    use(xlink:href="#icon-search" href="#icon-search")
                .license
                    img(src="img/licenses/pic6.jpg" alt="" title="").license__img
            .license-box
                svg.search-icon
                    use(xlink:href="#icon-search" href="#icon-search")
                .license
                    img(src="img/licenses/pic7.jpg" alt="" title="").license__img
            .license-box
                svg.search-icon
                    use(xlink:href="#icon-search" href="#icon-search")
                .license
                    img(src="img/licenses/pic8.jpg" alt="" title="").license__img


                