section.news.box
    .news__container.box__container
        .title-box
            .title-box__title Наши новости
            .title-box__back Наши новости
        p.common-description Постоянно наполняемый живой раздел о выпускаемых книгах, интересных проектах и всем, что связано с нашим делом. Каждая новая книга - это событие, важное и для автора и для издательства. Новости о выпускаемых в свет изданиях и околокнижных событиях можно найти в этом разделе.
        .news__list

            .news-item
                img(src="img/news/pic1.jpg" alt="" title="").news-item__img
                .news-item__title Президентский Коран
                p.news-item__description Коран в роскошном переплете, изготовленный в ИД Сегмент, подарил Александр Лукашенко своему египетскому коллеге.
                .news-item__btn-learn-more.btn
                    .btn__title Узнать больше

            .news-item
                img(src="img/news/pic1.jpg" alt="" title="").news-item__img
                .news-item__title Президентский Коран
                p.news-item__description Коран в роскошном переплете, изготовленный в ИД Сегмент, подарил Александр Лукашенко своему египетскому коллеге.
                .news-item__btn-learn-more.btn
                    .btn__title Узнать больше

            .news-item
                img(src="img/news/pic1.jpg" alt="" title="").news-item__img
                .news-item__title Президентский Коран
                p.news-item__description Коран в роскошном переплете, изготовленный в ИД Сегмент, подарил Александр Лукашенко своему египетскому коллеге.
                .news-item__btn-learn-more.btn
                    .btn__title Узнать больше

            .news-item
                img(src="img/news/pic1.jpg" alt="" title="").news-item__img
                .news-item__title Президентский Коран
                p.news-item__description Коран в роскошном переплете, изготовленный в ИД Сегмент, подарил Александр Лукашенко своему египетскому коллеге.
                .news-item__btn-learn-more.btn
                    .btn__title Узнать больше

            .news-item
                img(src="img/news/pic1.jpg" alt="" title="").news-item__img
                .news-item__title Президентский Коран
                p.news-item__description Коран в роскошном переплете, изготовленный в ИД Сегмент, подарил Александр Лукашенко своему египетскому коллеге.
                .news-item__btn-learn-more.btn
                    .btn__title Узнать больше

            .news-item
                img(src="img/news/pic1.jpg" alt="" title="").news-item__img
                .news-item__title Президентский Коран
                p.news-item__description Коран в роскошном переплете, изготовленный в ИД Сегмент, подарил Александр Лукашенко своему египетскому коллеге.
                .news-item__btn-learn-more.btn
                    .btn__title Узнать больше

            .news-item
                img(src="img/news/pic1.jpg" alt="" title="").news-item__img
                .news-item__title Президентский Коран
                p.news-item__description Коран в роскошном переплете, изготовленный в ИД Сегмент, подарил Александр Лукашенко своему египетскому коллеге.
                .news-item__btn-learn-more.btn
                    .btn__title Узнать больше

            .news-item
                img(src="img/news/pic1.jpg" alt="" title="").news-item__img
                .news-item__title Президентский Коран
                p.news-item__description Коран в роскошном переплете, изготовленный в ИД Сегмент, подарил Александр Лукашенко своему египетскому коллеге.
                .news-item__btn-learn-more.btn
                    .btn__title Узнать больше