section.our-pages.box#our-pages.cards
    .our-pages__container.box__container
        .title-box
            h2.title-box__title Добро пожаловать в Издательский дом «Сегмент» !

        .our-pages__items.cards__items

            .card
                .card__img.card__section
                    img(src="img/about-us/pages1.jpg" alt="" title="" loading="lazy")
                .card__info.card__section
                    .card__title Наше производство
                    .card__description Здесь мы покажем, как в одном производстве сочетаются книжные технологии средневековья и современности. И самое невероятное, что все это происходит в Беларуси.
                    .card__btn-learn-more.btn
                        .btn__title Узнать больше

            .card
                .card__img.card__section
                    img(src="img/about-us/pages2.jpg" alt="" title="" loading="lazy")
                .card__info.card__section
                    .card__title Лицензии
                    .card__description Получить любой вид лицензии сложно,некоторые — невозможно. У нас есть все виды специальных разрешений на право ведения издательской и полиграфической деятельности.
                    .card__btn-learn-more.btn
                        .btn__title Узнать больше

            .card
                .card__img.card__section
                    img(src="img/about-us/pages3.jpg" alt="" title="" loading="lazy")
                .card__info.card__section
                    .card__title Наши достижения
                    .card__description Слово «наши» в этом разделе, означает, что достижения эти не наши единоличные, а наши с вами. Мы и авторы, питаем друг друга творческими идеями и мыслями.
                    .card__btn-learn-more.btn
                        .btn__title Узнать больше

            .card
                .card__img.card__section
                    img(src="img/about-us/pages4.jpg" alt="" title="" loading="lazy")
                .card__info.card__section
                    .card__title Наши отзывы
                    .card__description Здесь можно посмотреть и почитать нефейковые отзывы о нас от реальных людей и организаций. Любой проект из отзыва мы готовы показать и подробно рассказать о нем.
                    .card__btn-learn-more.btn
                        .btn__title Узнать больше

            .card
                .card__img.card__section
                    img(src="img/about-us/pages5.jpg" alt="" title="" loading="lazy")
                .card__info.card__section
                    .card__title Наши новости
                    .card__description Книжная типография издательства позволит вам без волокиты и переплат выполнить печать книг в одном месте. Имеем возможность издать и напечатать как одну книгу, так и крупный тираж.
                    .card__btn-learn-more.btn
                        .btn__title Узнать больше

            .card
                .card__img.card__section
                    img(src="img/about-us/pages6.jpg" alt="" title="" loading="lazy")
                .card__info.card__section
                    .card__title СМИ о нас
                    .card__description Журналисты любят интересные сюжеты. А их у нас много. Поэтому периодически нам приходится работать под прицелом видеокамер. Наши книги очень часто становятся центральными объектами новостей...
                    .card__btn-learn-more.btn
                        .btn__title Узнать больше