section.portfolio.box
    .portfolio__container.box__container
        .title-box
            .title-box__back Наши работы
            .title-box__title Наши работы
        .portfolio__subtitle
        .portfolio__description I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibusI am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        .portfolio__items
            a(href="").service.service--1
                .service__body
                    .service__btn-learn-more.btn
                        .btn__title Узнать больше
                footer.service__footer
                    .service__title Книги «под ключ» о предприятиях
                    .service__description Юбилейные, корпоративные и имиджевые издания.
            a(href="").service.service--2
                .service__body
                    .service__btn-learn-more.btn
                        .btn__title Узнать больше
                footer.service__footer
                    .service__title Выпуск краеведческих изданий
                    .service__description Выпуск краеведческих изданий
        .portfolio__section
            .portfolio__title Наши изданные книги по разделам
            .portfolio-board
                .portfolio-board__tabs.header-tabs
                    .portfolio-board__tab.header-tab.--all.--active Все
                    .portfolio-board__tab.header-tab Книги для юридических лиц
                    .portfolio-board__tab.header-tab Книги о предприятиях
                    .portfolio-board__tab.header-tab Книги для авторов и ученых
                    .portfolio-board__tab.header-tab(data-tag="business") Подарочные книги
                    .portfolio-board__tab.header-tab(data-tag="science") Краеведческие издания
                    .portfolio-board__tab.header-tab(data-tag="management") Факсимиле

                .portfolio-board__items

                    a(href="").portfolio-item
                        .portfolio-item__body
                            img(src="img/service-img.png" alt="")
                        .portfolio-item__footer
                            .portfolio-item__title Частному заказчику
                            .portfolio-item__description Издаем книги от 1 экземпляра

                    a(href="").portfolio-item
                        .portfolio-item__body
                            img(src="img/service-img.png" alt="")
                        .portfolio-item__footer
                            .portfolio-item__title Частному заказчику
                            .portfolio-item__description Издаем книги от 1 экземпляра

                    a(href="").portfolio-item
                        .portfolio-item__body
                            img(src="img/service-img.png" alt="")
                        .portfolio-item__footer
                            .portfolio-item__title Частному заказчику
                            .portfolio-item__description Издаем книги от 1 экземпляра