section.publish.box
    .publish__container.box__container
        .title-box
            .title-box__title Издать книгу
            .title-box__back Издать книгу
        .publish__content.services-container
            a(href="").service.service--1
                .service__body
                    .service__btn-learn-more.btn
                        .btn__title Узнать больше
                footer.service__footer
                    .service__title Книги «под ключ» о предприятиях
                    .service__description Юбилейные, корпоративные и имиджевые издания.
            a(href="").service.service--2
                .service__body
                    .service__btn-learn-more.btn
                        .btn__title Узнать больше
                footer.service__footer
                    .service__title Выпуск краеведческих изданий
                    .service__description Выпуск краеведческих изданий
            a(href="").service.service--2
                .service__body
                    .service__btn-learn-more.btn
                        .btn__title Узнать больше
                footer.service__footer
                    .service__title Выпуск краеведческих изданий
                    .service__description Выпуск краеведческих изданий
            a(href="").service.service--2
                .service__body
                    .service__btn-learn-more.btn
                        .btn__title Узнать больше
                footer.service__footer
                    .service__title Выпуск краеведческих изданий
                    .service__description Выпуск краеведческих изданий


