section.team.box
    .team__container.box__container
        .team__header
            .title-box
                .title-box__title Наша команда
                .title-box__back Наша команда
            .team__subtitle Это произвольный заголовок
            p.team__description.--main Наилучшим описанием нас, сегментовцев, будет рассказ о появлении названия нашего товарного знака — «Сегмент». В 2012 году нас было двое. Думая над тем, какой это будет корабль и как далеко он будет плавать, для нас очевидным был тот факт, что организация будет структурной и системной. Каждый человек будет не винтиком в бездушной машине, а органичной частью большого и слаженного механизма, сегментиком. Из множества сегментов должны сложиться структурные подразделения, а из них — общий контур прекрасного корабля, на котором каждый сегментик займет ответственный и одновременно интересный участок работы.
            p.team__description.--boldy Так и вышло. <br>Наша команда — это уникальное сочетание неповторимых сегментиков, а мы, сегментовцы, — это и есть единый Сегмент!
        .team-board
            .team-board__tabs
                .team-board__tab.--all.--active Наша команда
                .team-board__tab Специалисты по факсимиле и роскошному переплету
                .team-board__tab Мастера типографского дела
                .team-board__tab Вспомогательная служба
                .team-board__tab(data-tag="business") Специалисты по созданию книг о предприятиях и книг о бизнес
                .team-board__tab(data-tag="science") Специалисты по работе с авторами и учеными
                .team-board__tab(data-tag="management") Руководство
            .team-board__members
                .team-member(data-tag="management")
                    a(href="worker.html").team-member__body
                        img(src="img/team/img1.png" alt="")
                    .team-member__footer
                        a(href="worker.html").team-member__name Сакович Дмитрий Валерьевич
                        .team-member__position Директор
                        .team-member__phone-box
                            svg
                                use(xlink:href="#icon-phone" href="#icon-phone")
                            a(href="tel:+375296252103").team-member__phone +375 29 625-21-03

                .team-member(data-tag="business")
                    a(href="worker.html").team-member__body
                        img(src="img/team/img1.png" alt="")
                    .team-member__footer
                        a(href="worker.html").team-member__name Сакович Дмитрий Валерьевич
                        .team-member__position Директор
                        .team-member__phone-box
                            svg
                                use(xlink:href="#icon-phone" href="#icon-phone")
                            a(href="tel:+375296252103").team-member__phone +375 29 625-21-03

                .team-member(data-tag="business")
                    a(href="worker.html").team-member__body
                        img(src="img/team/img1.png" alt="")
                    .team-member__footer
                        a(href="worker.html").team-member__name Сакович Дмитрий Валерьевич
                        .team-member__position Директор
                        .team-member__phone-box
                            svg
                                use(xlink:href="#icon-phone" href="#icon-phone")
                            a(href="tel:+375296252103").team-member__phone +375 29 625-21-03

                .team-member(data-tag="business")
                    a(href="worker.html").team-member__body
                        img(src="img/team/img1.png" alt="")
                    .team-member__footer
                        a(href="worker.html").team-member__name Сакович Дмитрий Валерьевич
                        .team-member__position Директор
                        .team-member__phone-box
                            svg
                                use(xlink:href="#icon-phone" href="#icon-phone")
                            a(href="tel:+375296252103").team-member__phone +375 29 625-21-03

                .team-member(data-tag="science")
                    a(href="worker.html").team-member__body
                        img(src="img/team/img1.png" alt="")
                    .team-member__footer
                        a(href="worker.html").team-member__name Сакович Дмитрий Валерьевич
                        .team-member__position Директор
                        .team-member__phone-box
                            svg
                                use(xlink:href="#icon-phone" href="#icon-phone")
                            a(href="tel:+375296252103").team-member__phone +375 29 625-21-03

                .team-member(data-tag="science")
                    a(href="worker.html").team-member__body
                        img(src="img/team/img1.png" alt="")
                    .team-member__footer
                        a(href="worker.html").team-member__name Сакович Дмитрий Валерьевич
                        .team-member__position Директор
                        .team-member__phone-box
                            svg
                                use(xlink:href="#icon-phone" href="#icon-phone")
                            a(href="tel:+375296252103").team-member__phone +375 29 625-21-03



