section.weekdays.box
    .box__container.weekdays__container
        .title-box
            .title-box__title Будни переплетёного ателье
        .common-description Как и сотни лет назад, переплетные процессы и металлическая фурнитура выполняются вручную. Каждое книжное издание является уникальным произведением книжного искусства. В галерее показаны некоторые интересные моменты создания книги.
        .weekdays__items

            .weekday-activity
                h4.weekday-activity__title Ручное тиснение кожаной крышки
                img(src="img/manufacture/pic1.jpg" alt="" title="").weekday-activity__img
                p.weekday-activity__description Для финишной отделки книг используем два вида ручного тиснения: ручным инструментом и механическим прессом.
            .weekday-activity
                h4.weekday-activity__title Тонирование книжного обреза
                img(src="img/manufacture/pic2.jpg" alt="" title="").weekday-activity__img
                p.weekday-activity__description Украшение книжного обреза - неотъемлемая и важная часть в создании индивидуального переплета.
            .weekday-activity
                h4.weekday-activity__title Запил для ручного шитья книжного блока
                img(src="img/manufacture/pic3.jpg" alt="" title="").weekday-activity__img
                p.weekday-activity__description Весь переплетный инструментарий - ручной, а большую его часть мы изготавливаем сами, по чертежам 18-19 веков..
            .weekday-activity
                h4.weekday-activity__title Создание комплекта книжной фурнитуры
                img(src="img/manufacture/pic4.jpg" alt="" title="").weekday-activity__img
                p.weekday-activity__description Существует она в единственном экземпляре. В своих книгах мы объединяем три вида искусства - художественное, ювелирное и переплетное.
            .weekday-activity
                h4.weekday-activity__title Сбор деталей для оформления переплета
                img(src="img/manufacture/pic5.jpg" alt="" title="").weekday-activity__img
                p.weekday-activity__description Для аппликаций использован розовый нубук, а художественные металлические накладки покрыты 24-каратным золотом. Филигранность линий классического исламского орнаментального узора доходит до толщины волоса     
            .weekday-activity
                h4.weekday-activity__title Авторские книжные застежки
                img(src="img/manufacture/pic6.jpg" alt="" title="").weekday-activity__img
                p.weekday-activity__description Книжные застежки - в средневековье важная функциональная деталь книжного переплета, выполнявшая функцию обжима пергаменного книжного блока между деревянными сторонками. Со временем стала нести декоративную функцию. Используется для художественного оформления книжных коробов и факсимиле средневековых изданий
