section.worker.box
    .worker__container.box__container
        .breadcrumbs
            a(href="/") Главная
            a(href="team.html") Наша команда
            a(href="") Этот сотрудник
        .worker__header
            .worker__photo
                img(src="img/team/member1.png" alt="")
            .worker__info
                .worker__fio ЦАГЕЛЬНИКОВА Ксения Александровна
                table
                    tr
                        td.bold Должность:
                        td Партнёр-учредитель
                    tr
                        td.bold E-mail:
                        td
                            a(href="mailto:segment@mail.ru") segment@mail.ru
                    tr
                        td.bold Телефон:
                        td
                            a(href="tel:+37527890") +37527890
                .worker__btn.btn
                    .btn__title Задать вопрос
        .worker__body
            .worker-about
                .worker-about__title О себе
                p Предпринимателем я стал поздно. В 30 лет я снял майорские погоны и снова стал рядовым. Моя служба продолжилась, но теперь она посвящена книге.
                p Горжусь тем, что на базе издательства получилось создать книжную типографию полного цикла и уникальное в масштабах страны переплетное ателье. Созданные нашими мастерами шедевры книжного искусства высоко оценены не только в Беларуси, но и на крупнейшей в мире Франкфуртской книжной выставке (2019 г.) Нами создана самая большая книга в истории независимой Беларуси — факсимиле «Берестейской Библии» 16 в. в аутентичном готическом цельнокожаном переплете, а дебют Сегмента в Национальном конкурсе «Искусство книги-2020» принес нашим работам три награды, в том числе Гран-при.
                p Самыми большими личными недостатками считаю непроходящую с годам пассионарность и отсутствие полутонов. Литературное произведение, повлиявшее на всю мою жизнь: повесть Леонида Пантелеева «Честное слово».
            .worker-about
                .worker-about__title Чем я горжусь
                    .achievment
                        .achievment__title Награжденны дипломом Министра информации Республики Беларусь «За вклад в сохранение белорусского книжного наследия»
                        .achievment__img-box
                            img(src="img/achievments/pic1.jpg" alt="" title="")
            .worker-about
                .worker-about__title Видео
                .worker-about__videos
                    iframe(src="https://www.youtube.com/embed/tgg-CH7Dk-M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    iframe(src="https://www.youtube.com/embed/tgg-CH7Dk-M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)